<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>

    <%- include("./partials/header") %>

<h2>Formulario de login</h2>

<div class="container-form">

<form method="post" action="/user/login" class="formulario-register">
    

        <div class="form-group">
            <label for="">Email:</label>
        
            <input type="email" name="email" class="form-control"> 

            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %>
                </div>
            <% } %>
                
        </div>

        <div class="form-group">

            <label for="">Contraseña:</label>
    
            <input type="password" name="password" class="form-control">
            
        </div>

        <div>
        <label>Recordarme</label>
        <input type="checkbox">
        </div>
        
        <button type="submit" class="button">Register</button>
     
</form>

</div>